# S14_T01_Bases de dades NoSQL


### Ex1: Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica

In [25]:
import numpy as np
import pandas as pd
import pymongo

Definim client Mongo, creem base de dades i creem colecció

Connectem MongoDB amb Jupyter Notebook a través d'aquesta configuració de connexió obtinguda amb usuari i password:

myclient = pymongo.MongoClient("mongodb://BethITAcademy:Bi3lAtl%40sMong@ac-1lr1p8u-shard-00-00.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-01.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-02.lkt5imt.mongodb.net:27017/?ssl=true&replicaSet=atlas-fl2ol6-shard-0&authSource=admin&retryWrites=true&w=majority)")

Utilitzem la llibreria pymongo per treballar des d'aqui amb MongoDB

In [26]:
#client per pymongo (connexió servidor)

myclient = pymongo.MongoClient("mongodb://BethITAcademy:Bi3lAtl%40sMong@ac-1lr1p8u-shard-00-00.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-01.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-02.lkt5imt.mongodb.net:27017/?ssl=true&replicaSet=atlas-fl2ol6-shard-0&authSource=admin&retryWrites=true&w=majority)")

In [27]:
#abans de crear base de dades comprovem el llistat de base de dades
print(myclient.list_database_names())

['mydatabase', 'admin', 'local']

In [28]:
#ja tenim creada la nostra base de dades que li hem dit mydatabase (creada des de Mongo DB), i veiem que ens apareix en el llistat
mydb = myclient["mydatabase"]

In [29]:
#abans de crear base de dades comprovem el llistat de colleccions q hi ha q ja hem creat a la base de dades a MongoDB
print(mydb.list_collection_names())

['mycol', 'esc_inf3']

In [30]:
#si volem crear més colleccions, ho fem!
mycol = mydb["esc_inf3"]

In [ ]:
#si volem, a través d'aqui també podem insertar dades (en aquest cas s'anomena document, similar a insertar un record en SQL)
#insertem un document en la collecció "esc_inf3"

myclient = pymongo.MongoClient("mongodb://BethITAcademy:<password>@ac-1lr1p8u-shard-00-00.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-01.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-02.lkt5imt.mongodb.net:27017/?ssl=true&replicaSet=atlas-fl2ol6-shard-0&authSource=admin&retryWrites=true&w=majority)")


mydict = {"titol": "Biel", "cognom": "Puig", "age": "4"}

x = mycol.insert_one(mydict)

In [ ]:
myclient = pymongo.MongoClient("mongodb://BethITAcademy:<password>@ac-1lr1p8u-shard-00-00.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-01.lkt5imt.mongodb.net:27017,ac-1lr1p8u-shard-00-02.lkt5imt.mongodb.net:27017/?ssl=true&replicaSet=atlas-fl2ol6-shard-0&authSource=admin&retryWrites=true&w=true)")

mylist = [
  { "titol": "Pere", "cognom": "A", "age": "3"},
  { "titol": "Roc",  "cognom": "B", "age": "4"},
  { "titol": "Luka", "cognom": "C", "age": "4"},
  { "titol": "Oscar", "cognom": "D", "age": "3"},
  { "titol": "Greta", "cognom": "E", "age": "3"},
  { "titol": "Carla", "cognom": "F", "age": "3"},
  { "titol": "Clara", "cognom": "G", "age": "4"},
  { "titol": "Joana", "cognom": "H", "age": "3"},
  { "titol": "Pau",   "cognom": "I", "age": "3"},
  { "titol": "Ricki", "cognom": "J", "age": "4"},
  { "titol": "Bru",   "cognom": "K", "age": "3"},
  { "titol": "Marc", "cognom": "L", "age": "4"},
  { "titol": "Lara", "cognom": "M", "age": "3"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

In [31]:
#Volem veure el primer document de la collecció "esc_inf3":
mycol = mydb["esc_inf3"]
x = mycol.find_one()
print(x)

{'_id': ObjectId('62c54ae5d87e45213013f855'), 'titol': 'Biel', 'cognom': 'Puig', 'age': '4'}

In [32]:
#si volem veure tots els documents de la collecció "esc_inf3", imprimint cada document
for x in mycol.find():
  print(x)

{'_id': ObjectId('62c54ae5d87e45213013f855'), 'titol': 'Biel', 'cognom': 'Puig', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f857'), 'titol': 'Pere', 'cognom': 'A', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f858'), 'titol': 'Roc', 'cognom': 'B', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f859'), 'titol': 'Luka', 'cognom': 'C', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f85a'), 'titol': 'Oscar', 'cognom': 'D', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85b'), 'titol': 'Greta', 'cognom': 'E', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85c'), 'titol': 'Carla', 'cognom': 'F', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85d'), 'titol': 'Clara', 'cognom': 'G', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f85e'), 'titol': 'Joana', 'cognom': 'H', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85f'), 'titol': 'Pau', 'cognom': 'I', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f860'), 'titol': 'Ricki', 'cognom': 'J', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f861'), 'titol': 'Bru', 'cognom': 'K', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f862'), 'titol': 'Marc', 'cognom': 'L', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f863'), 'titol': 'Lara', 'cognom': 'M', 'age': '3'}
{'_id': ObjectId('62c54e6ad87e45213013f865'), 'titol': 'Elia', 'cognom': 'Z', 'age': '4'}
{'_id': ObjectId('62c54f4cd87e45213013f867'), 'titol': 'Alex', 'cognom': 'Y', 'age': '3'}
{'_id': ObjectId('62c55107d87e45213013f86b'), 'titol': 'Raul', 'cognom': 'X', 'age': '3'}
{'_id': ObjectId('62c553b2d87e45213013f86d'), 'titol': 'Poli', 'cognom': 'V', 'age': '4'}
{'_id': ObjectId('62c55527d87e45213013f870'), 'titol': 'Sara', 'cognom': 'U', 'age': '4'}
{'_id': ObjectId('62c5573dd87e45213013f872'), 'titol': 'Tito', 'cognom': 'T', 'age': '3'}
{'_id': ObjectId('62c557d4d87e45213013f874'), 'titol': 'Ona', 'cognom': 'N', 'age': '4'}

### Ex2:Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo

In [ ]:
#està fet amb l'exercici1

### Ex3: Carrega algunes consultes senzilles a un Pandas Dataframe

In [39]:
#podem carregar a un dataframe una consulta del nen@s de l'escola que tenen 4 anys, ordenats alfabeticament pel cognom

query_4anys = {"age": "4"}

dataframe_4anys = mycol.find(query_4anys).sort("cognom", 1)

for x in dataframe_4anys:
    print (x)

{'_id': ObjectId('62c54bf7d87e45213013f858'), 'titol': 'Roc', 'cognom': 'B', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f859'), 'titol': 'Luka', 'cognom': 'C', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f85d'), 'titol': 'Clara', 'cognom': 'G', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f860'), 'titol': 'Ricki', 'cognom': 'J', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f862'), 'titol': 'Marc', 'cognom': 'L', 'age': '4'}
{'_id': ObjectId('62c557d4d87e45213013f874'), 'titol': 'Ona', 'cognom': 'N', 'age': '4'}
{'_id': ObjectId('62c54ae5d87e45213013f855'), 'titol': 'Biel', 'cognom': 'Puig', 'age': '4'}
{'_id': ObjectId('62c55527d87e45213013f870'), 'titol': 'Sara', 'cognom': 'U', 'age': '4'}
{'_id': ObjectId('62c553b2d87e45213013f86d'), 'titol': 'Poli', 'cognom': 'V', 'age': '4'}
{'_id': ObjectId('62c54e6ad87e45213013f865'), 'titol': 'Elia', 'cognom': 'Z', 'age': '4'}

In [48]:
#llistat de noms(titol) que comencen per la lletra "l"

query_nom_L = { "titol": {"$regex": "^L" } }

dataframe_L = mycol.find(query_nom_L)

for x in dataframe_L:
    print(x)

{'_id': ObjectId('62c54bf7d87e45213013f859'), 'titol': 'Luka', 'cognom': 'C', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f863'), 'titol': 'Lara', 'cognom': 'M', 'age': '3'}

In [49]:
#llistat de documents que el seu titol comenci per la lletra C en endavant

query_Calf = { "titol": {"$gt": "C" } }

dataframe_C = mycol.find(query_Calf).sort("titol", -1)

for x in dataframe_C:
    print(x)

{'_id': ObjectId('62c5573dd87e45213013f872'), 'titol': 'Tito', 'cognom': 'T', 'age': '3'}
{'_id': ObjectId('62c55527d87e45213013f870'), 'titol': 'Sara', 'cognom': 'U', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f858'), 'titol': 'Roc', 'cognom': 'B', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f860'), 'titol': 'Ricki', 'cognom': 'J', 'age': '4'}
{'_id': ObjectId('62c55107d87e45213013f86b'), 'titol': 'Raul', 'cognom': 'X', 'age': '3'}
{'_id': ObjectId('62c553b2d87e45213013f86d'), 'titol': 'Poli', 'cognom': 'V', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f857'), 'titol': 'Pere', 'cognom': 'A', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85f'), 'titol': 'Pau', 'cognom': 'I', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85a'), 'titol': 'Oscar', 'cognom': 'D', 'age': '3'}
{'_id': ObjectId('62c557d4d87e45213013f874'), 'titol': 'Ona', 'cognom': 'N', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f862'), 'titol': 'Marc', 'cognom': 'L', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f859'), 'titol': 'Luka', 'cognom': 'C', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f863'), 'titol': 'Lara', 'cognom': 'M', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85e'), 'titol': 'Joana', 'cognom': 'H', 'age': '3'}
{'_id': ObjectId('62c54bf7d87e45213013f85b'), 'titol': 'Greta', 'cognom': 'E', 'age': '3'}
{'_id': ObjectId('62c54e6ad87e45213013f865'), 'titol': 'Elia', 'cognom': 'Z', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f85d'), 'titol': 'Clara', 'cognom': 'G', 'age': '4'}
{'_id': ObjectId('62c54bf7d87e45213013f85c'), 'titol': 'Carla', 'cognom': 'F', 'age': '3'}

### Ex4: Genera un resum estadístic de la informació que conté la base de dades